NODE_ENV=development
PORT=3000

# Auth

APP_SECRET=d41d8cd98f00b204e9800998ecf8427e

# Database

DB_HOST=localhost
DB_USER=postgres
DB_PASS=secret
DB_NAME=develop

# Redis

REDIS_HOST=localhost
REDIS_PORT=6379

# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=

# Sentry
SENTRY_DSN=
